eval "$(lorri direnv)"

# Hack to make lsp server local
# mkdir -p ~/.emacs.d/.local/etc/lsp/npm/purescript-language-server/bin
# ln -sf $(which purescript-language-server) ~/.emacs.d/.local/etc/lsp/npm/purescript-language-server/bin/purescript-language-server
